tools/EnterpriseData/services/Exchange/Exchange_3_0_1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://www.1c.ru/SSL/Exchange_3_0_1_1"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://v8.1c.ru/8.1/data/core"
		xmlns:xsd2="http://www.1c.ru/SSL/Exchange_3_0_1_1"
		name="Exchange_3_0_1_1"
		targetNamespace="http://www.1c.ru/SSL/Exchange_3_0_1_1">
	<types>
		<xs:schema xmlns:tns="http://v8.1c.ru/8.1/data/core"
				xmlns:xs="http://www.w3.org/2001/XMLSchema"
				targetNamespace="http://v8.1c.ru/8.1/data/core"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:simpleType name="AllowedLength">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Fixed"/>
					<xs:enumeration value="Variable"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="AllowedSign">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Any"/>
					<xs:enumeration value="Nonnegative"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Array">
				<xs:sequence>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="BinaryDataQualifiers">
				<xs:sequence>
					<xs:element name="Length"
							type="xs:decimal"/>
					<xs:element name="AllowedLength"
							type="tns:AllowedLength"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="CompositeID">
				<xs:restriction base="xs:string">
					<xs:pattern value="-?[0-9]+(:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})?"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="DataFillError">
				<xs:sequence>
					<xs:element name="Data"
							type="xs:string"/>
					<xs:element name="DataDescr"
							type="xs:string"/>
					<xs:element name="Text"
							type="xs:string"/>
					<xs:element name="Status"
							type="tns:FillCheckErrorStatus"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DataFillErrors">
				<xs:sequence>
					<xs:element name="item"
							type="tns:DataFillError"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="DateFractions">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Date"/>
					<xs:enumeration value="Time"/>
					<xs:enumeration value="DateTime"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="DateQualifiers">
				<xs:sequence>
					<xs:element name="DateFractions"
							type="tns:DateFractions"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:restriction base="xs:string">
					<xs:enumeration value="AccessViolation"/>
					<xs:enumeration value="LocalFileAccessError"/>
					<xs:enumeration value="NetworkError"/>
					<xs:enumeration value="PrinterError"/>
					<xs:enumeration value="ScriptCompileError"/>
					<xs:enumeration value="ScriptRuntimeError"/>
					<xs:enumeration value="ScriptUseError"/>
					<xs:enumeration value="ExceptionRaisedFromScript"/>
					<xs:enumeration value="CollaborationSystemError"/>
					<xs:enumeration value="DataCompositionSettingsError"/>
					<xs:enumeration value="SessionError"/>
					<xs:enumeration value="StoredDataError"/>
					<xs:enumeration value="FullTextSearchError"/>
					<xs:enumeration value="ExternalDataSourceError"/>
					<xs:enumeration value="GotoURLError"/>
					<xs:enumeration value="OtherError"/>
					<xs:enumeration value="AllErrors"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Exception">
				<xs:complexContent>
					<xs:extension base="tns:GenericException">
						<xs:sequence>
							<xs:element name="data"
									type="xs:base64Binary"
									minOccurs="0"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="FileDragMode">
				<xs:restriction base="xs:string">
					<xs:enumeration value="AsFile"/>
					<xs:enumeration value="AsFileRef"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="FillCheckErrorStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="FillChecking">
				<xs:restriction base="xs:string">
					<xs:enumeration value="DontCheck"/>
					<xs:enumeration value="ShowError"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="FixedArray">
				<xs:sequence>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FixedMap">
				<xs:sequence>
					<xs:element name="pair"
							type="tns:KeyAndValue"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FixedStructure">
				<xs:sequence>
					<xs:element name="Property"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Value"
										nillable="true"/>
							</xs:sequence>
							<xs:attribute name="name"
									type="xs:NMTOKEN"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GenericException"
					abstract="true">
				<xs:sequence>
					<xs:element name="descr"
							type="xs:string"/>
					<xs:element name="inner"
							type="tns:GenericException"
							minOccurs="0"/>
					<xs:element name="category"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="uiHelperUUID"
							type="tns:UUID"
							minOccurs="0"/>
					<xs:element name="creationStack"
							type="xs:string"
							minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="clsid"
						type="tns:UUID"
						use="required"/>
				<xs:attribute name="encoded"
						type="xs:boolean"
						default="false"/>
			</xs:complexType>
			<xs:complexType name="KeyAndValue">
				<xs:sequence>
					<xs:element name="Key"/>
					<xs:element name="Value"
							nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LocalStringItemType">
				<xs:sequence>
					<xs:element name="lang"
							type="xs:NMTOKEN"/>
					<xs:element name="content"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LocalStringType">
				<xs:sequence>
					<xs:element name="item"
							type="tns:LocalStringItemType"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="MainClientApplicationWindowMode">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Normal"/>
					<xs:enumeration value="Workplace"/>
					<xs:enumeration value="FullscreenWorkplace"/>
					<xs:enumeration value="Kiosk"/>
					<xs:enumeration value="EmbeddedWorkplace"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Map">
				<xs:sequence>
					<xs:element name="pair"
							type="tns:KeyAndValue"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="Null">
				<xs:restriction base="xs:string">
					<xs:length value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="NumberQualifiers">
				<xs:sequence>
					<xs:element name="Digits"
							type="xs:decimal"/>
					<xs:element name="FractionDigits"
							type="xs:decimal"/>
					<xs:element name="AllowedSign"
							type="tns:AllowedSign"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ObjectVersion">
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9a-fA-F]{40}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="StandardBeginningDate">
				<xs:sequence>
					<xs:element name="variant"/>
					<xs:element name="date"
							type="xs:dateTime"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="StandardBeginningDateVariant">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Custom"/>
					<xs:enumeration value="BeginningOfThisDay"/>
					<xs:enumeration value="BeginningOfThisWeek"/>
					<xs:enumeration value="BeginningOfThisTenDays"/>
					<xs:enumeration value="BeginningOfThisMonth"/>
					<xs:enumeration value="BeginningOfThisQuarter"/>
					<xs:enumeration value="BeginningOfThisHalfYear"/>
					<xs:enumeration value="BeginningOfThisYear"/>
					<xs:enumeration value="BeginningOfLastDay"/>
					<xs:enumeration value="BeginningOfLastWeek"/>
					<xs:enumeration value="BeginningOfLastTenDays"/>
					<xs:enumeration value="BeginningOfLastMonth"/>
					<xs:enumeration value="BeginningOfLastQuarter"/>
					<xs:enumeration value="BeginningOfLastHalfYear"/>
					<xs:enumeration value="BeginningOfLastYear"/>
					<xs:enumeration value="BeginningOfNextDay"/>
					<xs:enumeration value="BeginningOfNextWeek"/>
					<xs:enumeration value="BeginningOfNextTenDays"/>
					<xs:enumeration value="BeginningOfNextMonth"/>
					<xs:enumeration value="BeginningOfNextQuarter"/>
					<xs:enumeration value="BeginningOfNextHalfYear"/>
					<xs:enumeration value="BeginningOfNextYear"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="StandardPeriod">
				<xs:sequence>
					<xs:element name="variant"/>
					<xs:element name="startDate"
							type="xs:dateTime"
							minOccurs="0"/>
					<xs:element name="endDate"
							type="xs:dateTime"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="StandardPeriodVariant">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Custom"/>
					<xs:enumeration value="Today"/>
					<xs:enumeration value="ThisWeek"/>
					<xs:enumeration value="ThisTenDays"/>
					<xs:enumeration value="ThisMonth"/>
					<xs:enumeration value="ThisQuarter"/>
					<xs:enumeration value="ThisHalfYear"/>
					<xs:enumeration value="ThisYear"/>
					<xs:enumeration value="FromBeginningOfThisWeek"/>
					<xs:enumeration value="FromBeginningOfThisTenDays"/>
					<xs:enumeration value="FromBeginningOfThisMonth"/>
					<xs:enumeration value="FromBeginningOfThisQuarter"/>
					<xs:enumeration value="FromBeginningOfThisHalfYear"/>
					<xs:enumeration value="FromBeginningOfThisYear"/>
					<xs:enumeration value="Yesterday"/>
					<xs:enumeration value="LastWeek"/>
					<xs:enumeration value="LastTenDays"/>
					<xs:enumeration value="LastMonth"/>
					<xs:enumeration value="LastQuarter"/>
					<xs:enumeration value="LastHalfYear"/>
					<xs:enumeration value="LastYear"/>
					<xs:enumeration value="LastWeekTillSameWeekDay"/>
					<xs:enumeration value="LastTenDaysTillSameDayNumber"/>
					<xs:enumeration value="LastMonthTillSameDate"/>
					<xs:enumeration value="LastQuarterTillSameDate"/>
					<xs:enumeration value="LastHalfYearTillSameDate"/>
					<xs:enumeration value="LastYearTillSameDate"/>
					<xs:enumeration value="Tomorrow"/>
					<xs:enumeration value="NextWeek"/>
					<xs:enumeration value="NextTenDays"/>
					<xs:enumeration value="NextMonth"/>
					<xs:enumeration value="NextQuarter"/>
					<xs:enumeration value="NextHalfYear"/>
					<xs:enumeration value="NextYear"/>
					<xs:enumeration value="NextWeekTillSameWeekDay"/>
					<xs:enumeration value="NextTenDaysTillSameDayNumber"/>
					<xs:enumeration value="NextMonthTillSameDate"/>
					<xs:enumeration value="NextQuarterTillSameDate"/>
					<xs:enumeration value="NextHalfYearTillSameDate"/>
					<xs:enumeration value="NextYearTillSameDate"/>
					<xs:enumeration value="TillEndOfThisWeek"/>
					<xs:enumeration value="TillEndOfThisTenDays"/>
					<xs:enumeration value="TillEndOfThisMonth"/>
					<xs:enumeration value="TillEndOfThisQuarter"/>
					<xs:enumeration value="TillEndOfThisHalfYear"/>
					<xs:enumeration value="TillEndOfThisYear"/>
					<xs:enumeration value="Last7Days"/>
					<xs:enumeration value="Next7Days"/>
					<xs:enumeration value="Month"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="StringQualifiers">
				<xs:sequence>
					<xs:element name="Length"
							type="xs:decimal"/>
					<xs:element name="AllowedLength"
							type="tns:AllowedLength"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Structure">
				<xs:sequence>
					<xs:element name="Property"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Value"
										nillable="true"/>
							</xs:sequence>
							<xs:attribute name="name"
									type="xs:NMTOKEN"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="Type">
				<xs:restriction base="xs:QName"/>
			</xs:simpleType>
			<xs:complexType name="TypeDescription">
				<xs:sequence>
					<xs:element name="Type"
							type="xs:QName"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="TypeSet"
							type="xs:QName"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="TypeId"
							type="tns:UUID"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="NumberQualifiers"
							type="tns:NumberQualifiers"
							minOccurs="0"/>
					<xs:element name="StringQualifiers"
							type="tns:StringQualifiers"
							minOccurs="0"/>
					<xs:element name="DateQualifiers"
							type="tns:DateQualifiers"
							minOccurs="0"/>
					<xs:element name="BinaryDataQualifiers"
							type="tns:BinaryDataQualifiers"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="UUID">
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ValueListItemType">
				<xs:sequence>
					<xs:element name="value"
							nillable="true"/>
					<xs:element name="presentation"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="checkState"
							type="xs:decimal"
							minOccurs="0"/>
					<xs:element name="picture"
							minOccurs="0"/>
					<xs:element name="id"
							type="xs:long"
							minOccurs="0"/>
					<xs:element name="formatPresentationSpecified"
							type="xs:boolean"
							minOccurs="0"/>
					<xs:element name="formatPresentation"
							type="xs:string"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueListType">
				<xs:choice>
					<xs:element name="valueType"
							type="tns:TypeDescription"/>
					<xs:element name="availableValues"
							type="tns:ValueListType"
							minOccurs="0"/>
					<xs:element name="lastId"
							type="xs:long"
							minOccurs="0"/>
					<xs:element name="item"
							type="tns:ValueListItemType"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:choice>
			</xs:complexType>
			<xs:simpleType name="ValueStorage">
				<xs:restriction base="xs:base64Binary"/>
			</xs:simpleType>
			<xs:complexType name="ValueTable">
				<xs:sequence>
					<xs:element name="column"
							type="tns:ValueTableColumn"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="index"
							type="tns:ValueTableIndex"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="row"
							type="tns:ValueTableRow"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTableColumn">
				<xs:sequence>
					<xs:element name="Name"
							type="xs:NMTOKEN"
							minOccurs="0"/>
					<xs:element name="ValueType"
							type="tns:TypeDescription"
							minOccurs="0"/>
					<xs:element name="Title"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="Width"
							type="xs:nonNegativeInteger"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTableIndex">
				<xs:sequence>
					<xs:element name="column"
							type="xs:NMTOKEN"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTableRow">
				<xs:sequence>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTree">
				<xs:sequence>
					<xs:element name="column"
							type="tns:ValueTreeColumn"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="row"
							type="tns:ValueTreeRow"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTreeColumn">
				<xs:sequence>
					<xs:element name="Name"
							type="xs:NMTOKEN"
							minOccurs="0"/>
					<xs:element name="ValueType"
							type="tns:TypeDescription"
							minOccurs="0"/>
					<xs:element name="Title"
							type="xs:string"
							minOccurs="0"/>
					<xs:element name="Width"
							type="xs:nonNegativeInteger"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ValueTreeRow">
				<xs:sequence>
					<xs:element name="row"
							type="tns:ValueTreeRow"
							minOccurs="0"
							maxOccurs="unbounded"/>
					<xs:element name="Value"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://v8.1c.ru/8.1/data/core"
				xmlns:xs2="http://www.1c.ru/SSL/Exchange_3_0_1_1"
				targetNamespace="http://www.1c.ru/SSL/Exchange_3_0_1_1"
				elementFormDefault="qualified">
			<xs:import namespace="http://v8.1c.ru/8.1/data/core"/>
			<xs:element name="Ping">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TestConnection">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExchangePlanName"
								type="xs:string"/>
						<xs:element name="NodeCode"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TestConnectionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:boolean"/>
						<xs:element name="Result"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Upload">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExchangePlanName"
								type="xs:string"/>
						<xs:element name="NodeCode"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UploadResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
						<xs:element name="Data"
								type="xs1:ValueStorage"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Download">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExchangePlanName"
								type="xs:string"/>
						<xs:element name="NodeCode"
								type="xs:string"/>
						<xs:element name="Data"
								type="xs1:ValueStorage"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DownloadResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UploadData">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExchangePlanName"
								type="xs:string"/>
						<xs:element name="NodeCode"
								type="xs:string"/>
						<xs:element name="FileID"
								type="xs:string"
								nillable="true"/>
						<xs:element name="ContinuousOperation"
								type="xs:boolean"
								nillable="true"/>
						<xs:element name="Operation"
								type="xs:string"
								nillable="true"/>
						<xs:element name="ContinuousOperationAllowed"
								type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="UploadDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
						<xs:element name="FileID"
								type="xs:string"
								nillable="true"/>
						<xs:element name="ContinuousOperation"
								type="xs:boolean"
								nillable="true"/>
						<xs:element name="Operation"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DownloadData">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExchangePlanName"
								type="xs:string"/>
						<xs:element name="NodeCode"
								type="xs:string"/>
						<xs:element name="FileID"
								type="xs:string"/>
						<xs:element name="ContinuousOperation"
								type="xs:boolean"
								nillable="true"/>
						<xs:element name="Operation"
								type="xs:string"
								nillable="true"/>
						<xs:element name="ContinuousOperationAllowed"
								type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DownloadDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
						<xs:element name="ContinuousOperation"
								type="xs:boolean"
								nillable="true"/>
						<xs:element name="Operation"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetIBParameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExchangePlanName"
								type="xs:string"/>
						<xs:element name="NodeCode"
								type="xs:string"
								nillable="true"/>
						<xs:element name="ResultMessage"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetIBParametersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:Structure"/>
						<xs:element name="ResultMessage"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetContinuousOperationStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Operation"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetContinuousOperationStatusResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"/>
						<xs:element name="ResultMessage"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PrepareGetFile">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FileId"
								type="xs1:UUID"/>
						<xs:element name="BlockSize"
								type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PrepareGetFileResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
						<xs:element name="TransferId"
								type="xs1:UUID"/>
						<xs:element name="PartQuantity"
								type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetFilePart">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransferId"
								type="xs1:UUID"/>
						<xs:element name="PartNumber"
								type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetFilePartResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
						<xs:element name="PartData"
								type="xs:base64Binary"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReleaseFile">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransferId"
								type="xs1:UUID"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReleaseFileResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutFilePart">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransferId"
								type="xs1:UUID"/>
						<xs:element name="PartNumber"
								type="xs:int"
								nillable="true"/>
						<xs:element name="PartData"
								type="xs:base64Binary"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutFilePartResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SaveFileFromParts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransferId"
								type="xs1:UUID"/>
						<xs:element name="PartQuantity"
								type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SaveFileFromPartsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
						<xs:element name="FileId"
								type="xs1:UUID"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateExchangeNode">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Parameters"
								type="xs1:Structure"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreateExchangeNodeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:Structure"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RemoveExchangeNode">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExchangePlanName"
								type="xs:string"/>
						<xs:element name="NodeId"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RemoveExchangeNodeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs1:Structure"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutMessageForDataMatching">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ExchangePlanName"
								type="xs:string"/>
						<xs:element name="NodeId"
								type="xs:string"/>
						<xs:element name="FileId"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutMessageForDataMatchingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="xs:string"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="PingRequestMessage">
		<part name="parameters"
				element="tns:Ping"/>
	</message>
	<message name="PingResponseMessage">
		<part name="parameters"
				element="tns:PingResponse"/>
	</message>
	<message name="TestConnectionRequestMessage">
		<part name="parameters"
				element="tns:TestConnection"/>
	</message>
	<message name="TestConnectionResponseMessage">
		<part name="parameters"
				element="tns:TestConnectionResponse"/>
	</message>
	<message name="UploadRequestMessage">
		<part name="parameters"
				element="tns:Upload"/>
	</message>
	<message name="UploadResponseMessage">
		<part name="parameters"
				element="tns:UploadResponse"/>
	</message>
	<message name="DownloadRequestMessage">
		<part name="parameters"
				element="tns:Download"/>
	</message>
	<message name="DownloadResponseMessage">
		<part name="parameters"
				element="tns:DownloadResponse"/>
	</message>
	<message name="UploadDataRequestMessage">
		<part name="parameters"
				element="tns:UploadData"/>
	</message>
	<message name="UploadDataResponseMessage">
		<part name="parameters"
				element="tns:UploadDataResponse"/>
	</message>
	<message name="DownloadDataRequestMessage">
		<part name="parameters"
				element="tns:DownloadData"/>
	</message>
	<message name="DownloadDataResponseMessage">
		<part name="parameters"
				element="tns:DownloadDataResponse"/>
	</message>
	<message name="GetIBParametersRequestMessage">
		<part name="parameters"
				element="tns:GetIBParameters"/>
	</message>
	<message name="GetIBParametersResponseMessage">
		<part name="parameters"
				element="tns:GetIBParametersResponse"/>
	</message>
	<message name="GetContinuousOperationStatusRequestMessage">
		<part name="parameters"
				element="tns:GetContinuousOperationStatus"/>
	</message>
	<message name="GetContinuousOperationStatusResponseMessage">
		<part name="parameters"
				element="tns:GetContinuousOperationStatusResponse"/>
	</message>
	<message name="PrepareGetFileRequestMessage">
		<part name="parameters"
				element="tns:PrepareGetFile"/>
	</message>
	<message name="PrepareGetFileResponseMessage">
		<part name="parameters"
				element="tns:PrepareGetFileResponse"/>
	</message>
	<message name="GetFilePartRequestMessage">
		<part name="parameters"
				element="tns:GetFilePart"/>
	</message>
	<message name="GetFilePartResponseMessage">
		<part name="parameters"
				element="tns:GetFilePartResponse"/>
	</message>
	<message name="ReleaseFileRequestMessage">
		<part name="parameters"
				element="tns:ReleaseFile"/>
	</message>
	<message name="ReleaseFileResponseMessage">
		<part name="parameters"
				element="tns:ReleaseFileResponse"/>
	</message>
	<message name="PutFilePartRequestMessage">
		<part name="parameters"
				element="tns:PutFilePart"/>
	</message>
	<message name="PutFilePartResponseMessage">
		<part name="parameters"
				element="tns:PutFilePartResponse"/>
	</message>
	<message name="SaveFileFromPartsRequestMessage">
		<part name="parameters"
				element="tns:SaveFileFromParts"/>
	</message>
	<message name="SaveFileFromPartsResponseMessage">
		<part name="parameters"
				element="tns:SaveFileFromPartsResponse"/>
	</message>
	<message name="CreateExchangeNodeRequestMessage">
		<part name="parameters"
				element="tns:CreateExchangeNode"/>
	</message>
	<message name="CreateExchangeNodeResponseMessage">
		<part name="parameters"
				element="tns:CreateExchangeNodeResponse"/>
	</message>
	<message name="RemoveExchangeNodeRequestMessage">
		<part name="parameters"
				element="tns:RemoveExchangeNode"/>
	</message>
	<message name="RemoveExchangeNodeResponseMessage">
		<part name="parameters"
				element="tns:RemoveExchangeNodeResponse"/>
	</message>
	<message name="PutMessageForDataMatchingRequestMessage">
		<part name="parameters"
				element="tns:PutMessageForDataMatching"/>
	</message>
	<message name="PutMessageForDataMatchingResponseMessage">
		<part name="parameters"
				element="tns:PutMessageForDataMatchingResponse"/>
	</message>
	<portType name="Exchange_3_0_1_1PortType">
		<operation name="Ping">
			<input message="tns:PingRequestMessage"/>
			<output message="tns:PingResponseMessage"/>
		</operation>
		<operation name="TestConnection">
			<input message="tns:TestConnectionRequestMessage"/>
			<output message="tns:TestConnectionResponseMessage"/>
		</operation>
		<operation name="Upload">
			<input message="tns:UploadRequestMessage"/>
			<output message="tns:UploadResponseMessage"/>
		</operation>
		<operation name="Download">
			<input message="tns:DownloadRequestMessage"/>
			<output message="tns:DownloadResponseMessage"/>
		</operation>
		<operation name="UploadData">
			<input message="tns:UploadDataRequestMessage"/>
			<output message="tns:UploadDataResponseMessage"/>
		</operation>
		<operation name="DownloadData">
			<input message="tns:DownloadDataRequestMessage"/>
			<output message="tns:DownloadDataResponseMessage"/>
		</operation>
		<operation name="GetIBParameters">
			<input message="tns:GetIBParametersRequestMessage"/>
			<output message="tns:GetIBParametersResponseMessage"/>
		</operation>
		<operation name="GetContinuousOperationStatus">
			<input message="tns:GetContinuousOperationStatusRequestMessage"/>
			<output message="tns:GetContinuousOperationStatusResponseMessage"/>
		</operation>
		<operation name="PrepareGetFile">
			<input message="tns:PrepareGetFileRequestMessage"/>
			<output message="tns:PrepareGetFileResponseMessage"/>
		</operation>
		<operation name="GetFilePart">
			<input message="tns:GetFilePartRequestMessage"/>
			<output message="tns:GetFilePartResponseMessage"/>
		</operation>
		<operation name="ReleaseFile">
			<input message="tns:ReleaseFileRequestMessage"/>
			<output message="tns:ReleaseFileResponseMessage"/>
		</operation>
		<operation name="PutFilePart">
			<input message="tns:PutFilePartRequestMessage"/>
			<output message="tns:PutFilePartResponseMessage"/>
		</operation>
		<operation name="SaveFileFromParts">
			<input message="tns:SaveFileFromPartsRequestMessage"/>
			<output message="tns:SaveFileFromPartsResponseMessage"/>
		</operation>
		<operation name="CreateExchangeNode">
			<input message="tns:CreateExchangeNodeRequestMessage"/>
			<output message="tns:CreateExchangeNodeResponseMessage"/>
		</operation>
		<operation name="RemoveExchangeNode">
			<input message="tns:RemoveExchangeNodeRequestMessage"/>
			<output message="tns:RemoveExchangeNodeResponseMessage"/>
		</operation>
		<operation name="PutMessageForDataMatching">
			<input message="tns:PutMessageForDataMatchingRequestMessage"/>
			<output message="tns:PutMessageForDataMatchingResponseMessage"/>
		</operation>
	</portType>
	<binding name="Exchange_3_0_1_1SoapBinding"
			type="tns:Exchange_3_0_1_1PortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Ping">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:Ping"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="TestConnection">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:TestConnection"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="Upload">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:Upload"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="Download">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:Download"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="UploadData">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:UploadData"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="DownloadData">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:DownloadData"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetIBParameters">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:GetIBParameters"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetContinuousOperationStatus">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:GetContinuousOperationStatus"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PrepareGetFile">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:PrepareGetFile"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetFilePart">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:GetFilePart"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="ReleaseFile">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:ReleaseFile"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PutFilePart">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:PutFilePart"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="SaveFileFromParts">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:SaveFileFromParts"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateExchangeNode">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:CreateExchangeNode"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="RemoveExchangeNode">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:RemoveExchangeNode"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PutMessageForDataMatching">
			<soapbind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:PutMessageForDataMatching"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="Exchange_3_0_1_1Soap12Binding"
			type="tns:Exchange_3_0_1_1PortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Ping">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:Ping"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="TestConnection">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:TestConnection"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="Upload">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:Upload"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="Download">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:Download"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="UploadData">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:UploadData"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="DownloadData">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:DownloadData"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetIBParameters">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:GetIBParameters"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetContinuousOperationStatus">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:GetContinuousOperationStatus"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PrepareGetFile">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:PrepareGetFile"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="GetFilePart">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:GetFilePart"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="ReleaseFile">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:ReleaseFile"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PutFilePart">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:PutFilePart"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="SaveFileFromParts">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:SaveFileFromParts"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CreateExchangeNode">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:CreateExchangeNode"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="RemoveExchangeNode">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:RemoveExchangeNode"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PutMessageForDataMatching">
			<soap12bind:operation style="document"
					soapAction="http://www.1c.ru/SSL/Exchange_3_0_1_1#Exchange_3_0_1_1:PutMessageForDataMatching"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Exchange_3_0_1_1">
		<port name="Exchange_3_0_1_1Soap"
				binding="tns:Exchange_3_0_1_1SoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="{appHost}/pref/ws/Exchange_3_0_1_1"/>
		</port>
		<port name="Exchange_3_0_1_1Soap12"
				binding="tns:Exchange_3_0_1_1Soap12Binding">
			<soap12bind:address location="{appHost}/pref/ws/Exchange_3_0_1_1"/>
		</port>
	</service>
</definitions>